.LandingPage{
  min-height: 100vh;
  background-image: url("../../Assets/Images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
.LandingPage section{
  min-height: 100vh;
 
}

.container2{
  background-color: rgba(0,0,0,.9);
  color: #fff;
  border-radius: 25px;
  align-self: center;
  min-height: 100vh;
}
.menu{
  color: white;
}
.logo img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60%;
}
.menu h3{
  color: gold;
}
.menu p {
  font-family: "Times New Roman", Times, serif;
  font-size: 3vw;
  color: goldenrod;
  background-color: rgba(0, 0, 0, .9);
  border-radius: 15px 50px;
  border-style: double;
  min-height: 40vh;
  padding-left: 2rem;
}
.menu a,
a:link,
a:visited {
  color: goldenrod;
}
.menu a:hover {
  color: gold;
}
.third{
  color: white;
}
.chef{
  height :50%;
}
.review{
  height :50%;

}
.awards h1{
  color: whitesmoke;
}

.awards p{
  border-radius: 20px 50px;
  background-color: rgba(0, 0, 0, .5);
  margin: 10px;
  padding: 20px;
}
.chef p {
  border-radius: 15px 50px;
  border-style: double;
  border-color: goldenrod;
  font-size: xx-large;
  color: white;
}
.sign {
  font-family: "Brush Script MT", cursive;
  font-size: larger;
}.chef {
  margin:0;
  padding: 0;
}
.chef p{ 
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(0, 0, 0, .5);
}
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
blockquote {
  quotes: "“" "”" "‘" "’";
}
