.menuu{
    background-color: #0a0908;
}
.menuu .box-container{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(70rem, 1fr));
    gap:1.5rem; */
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  /* grid-auto-rows: 1fr;
  grid-gap: 10px; */
  padding-top: 80px;
  
}

.menuu .box-container .box{
    background: #a9927d;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .3rem;
    box-shadow: var(--box-shadow); 
}

.menuu .box-container .box .image{
    max-width: 100%;
    max-height: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

/* .menuu .box-container .box image img{
    max-width: 100%;
    max-height: 100%;
    height: 100%!important;;
    object-fit: contain;
    border-radius: .12rem;
    /* object-fit: cover; 
*/

/* .menuu .box-container .box .image .fa-heart{
    position: absolute;
    top:2.5rem; right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color:var(--black);
}

.menuu .box-container .box .image .fa-heart:hover{
    background-color: var(--green);
    color:#fff;
} */

.menuu .box-container .box .content{
    padding:2rem;
    padding-top: 0;
}

/* .menuu .box-container .box .content .stars{
    padding-bottom: 1rem;
} */

   /*.menuu .box-container .box .content .stars i{
 font-size: 1.7rem;
   color:var(--green);
} */

.menuu .box-container .box .content h3{
    color:white;
    font-size: 2.5rem;
}
.menuu h4{
    color: aliceblue;
}

.menuu .box-container .box .content p{
    color: goldenrod;
    font-size: 1.6rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.menuu .box-container .box .content .price{
    margin-left: 1rem;
    font-size: 2.5rem;
}
.wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}
