.add-container{
    width: 350px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: rgb(255, 255, 255);
    padding:21px;
    margin: 8% auto 0;
    border-radius: 20px;
}
.add-container h1{
    text-align: center;
}
.vhcntr{
    min-height: 100vh;
}
.add-box{
    border-radius: 20px;
    padding: 9px;
    margin: 5px 0;
    width: 90%;
    border: 1.5px solid #999;
    outline: none;
}
.itm-child{
    margin-right:20px;
}
.add-btn{
    background-color: rgb(0, 128, 233);;
    color: rgb(255, 255, 255);
    width:70%;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 80px;
    border:none;
    outline: none;
    cursor:pointer;
}