.cshr_itms{
    box-shadow: 2px 2px 2px #bbb;
    border: 3px solid rgb(0, 0, 0);
    height:30%;
    min-width: 25%;
    background-color: #deb887;
    color: #454545;
    margin: 5px;
    padding:0px;
    flex:1;
}
.cshr_hdr{
    text-align: center;
}
.cshr_btn{
    background-clip: padding-box;
    background-color: #5fe83d;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    line-height: 1.25;
    margin-left: 70px;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    width: auto;
  }
  .cshr_btn.two{
    background-clip: padding-box;
    background-color: #5fe83d;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    line-height: 1.25;
    margin-left: 5px;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    width: auto;
  }
  .cshr_btn:hover,
  .cshr_btn:focus {
    background-color: #e8792e;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .cshr_btn:hover {
    transform: translateY(-8px);
  }
  
  .cshr_btn:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }