.main-container{
    min-height: 70vh;
    background-image: url(../Account/background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
}
.info h3{
    font-size: 4vw;
}