
.itms_col{
    box-shadow: 2px 2px 2px #bbb;
    border: 3px solid rgb(0, 0, 0);
    height:30%;
    min-width: 25%;
    max-width: 32%;
    background-color: #deb887;
    color: #454545;
    margin: 5px;
    padding:0px;
    flex:1;
}
.itms_col h1{
    width: 3%;
    margin:5px;
    text-align: center;
}

.itms_col h4{
    text-align: center;
}
.itms_col p{
    margin:5px;
    min-height: 50px;
}
.itm-img{
    margin: 7px;
    width:97%;
    height:40%;
    align-items: center;
    border-radius: 10px;
}
.itm-img img{
    width:22%;
    height: 93%;
    align-items: center;
    border-radius: 50%;
    object-fit: cover;
}
.box-img{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
}
.btn-pos{
  background-clip: padding-box;
  background-color: #5fe83d;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  margin-left:80px;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  width: auto;
}
.btn-pos:hover,
.btn-pos:focus {
  background-color: #e8792e;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-pos:hover {
  transform: translateY(-8px);
}

.btn-pos:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}