.navbar{
   height: 10vh;
   width: 100vw;
   background-color: transparent;
   position: fixed;
   top: 0;
   background-image: linear-gradient(black, #121212);
    border-color: none;
}
.account{
    font-size: 30px;
    float: right;
    position: absolute;
    vertical-align: text-top;
}
.navbar li{
    font-size: 30px;
    display: inline-block;
    list-style-type:none;
    padding: 10px;
}
a:link, a:visited{ 
color: goldenrod;
}
