.Navbar{  
    height: 7vh;
    width: 100vw;
    align-content: center;
}
.Navbar li{
    color: white;
    font-size: 35px;
    display:inline-block;
    padding: 10px;
}
.Navbar ul{
    list-style-type:none;
    /* text-align: center; */
    justify-content: center;
    margin: 0;  
}
.Navbar ul li:hover{
    color: gold;
}
.Navbar ul li:active{
    color: gold;
}
.navicon{
    margin-right: 5px;
    vertical-align:baseline;
}

.account{
    float: right;
}
