.containerFooter {
    position:relative;
    left: 0;
    right:0;
    bottom: 0;
    width: 100vw;
}
.info h6{
    float: left;
    padding-left: 1rem;
    color: gold;
}
.info p{
    float: left;
    text: muted;
}
.vr{
    width: 1px;
}